.register-main{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-color: whitesmoke;
}
.register-img {
    height: 100%;
    width: 40%;
    background-color: white;
    background-image: url('../../assets/images/office.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 23%;
}
.register-form{
    width: 60%;
    
}
.register-form label{
    font-weight: 500;
    font-size: 14px;
}
.register-form input {
    font-size: 14px;
    border-radius: 10px;
  }
.register-form input::placeholder {
    font-size: 14px;
  }
.register-form input:focus,input:hover{
    box-shadow: none;
    border: 1px solid var(---main-bg);
}
@media screen and (max-width: 900px) {
    .register-main{
        width: 100%;
        height: 600px;
    }
    .register-img {
        background-position: 40%;
    }
  }
  @media screen and (max-width: 650px) {
    .register-main{
        width: 100%;
        height: 600px;
    }
    .register-img {
        display: none;
    }
    .register-form{
        width: 100%;
    }
  }